.FeedEntry {
  border: 1px solid grey;
  text-align: left;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
}

.FeedEntry-date {
  color: grey;
}

.FeedEntry-read {
  background-color: #EFEFEF;
}
